body {
  background-color: #08151e;
  font-family: Verdana;
  color: white;
  text-align:center;
}

#map {
  width: 1257px;
  height: 733px;
  background-size: 100% 100%;
  background-image: url("img/background.png");
  position: relative;
  overflow: hidden;
  display: inline-block;
}
#pipkas {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url("img/pipkas.png");
  position: absolute;
  overflow: hidden;
  display: block;
}

.train {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 10px;
  position: absolute;
}

#timer {
  font-size: 30pt;
  font-family: Verdana;
  position: absolute;
  top: 100px;
  left: 50px;
  color: white;
}

#slider-block {
  font-size: 30pt;
  font-family: Verdana;
  position: absolute;
  top: 150px;
  left: 50px;
  color: white;
}


#map > .pipka {
  position: absolute;
  background-size: 100% 100%;
  width: 70px;
  height: 50px;
  background-image: url("img/pipka.png");
  /*background-color: red;*/
}

#map .guy {
  background-size: 100% 100%;
  position: absolute;
  width: 10px;
  height: 10px;
}

#map .guy-green {
  background-image: url("img/ball_green.png");
}

#map .guy-red {
  background-image: url("img/ball_red.png");
}

#map .guy-yellow {
  background-image: url("img/ball_yellow.png");
}

h1 {
  text-align: center;
}
