body {
  background-color: #08151e;
  font-family: Verdana;
  color: white;
  text-align:center;
}
#map {
  /*width: 1302px;
  height: 585px;*/
  /*width: 1329px;
  height: 544px;*/
  width: 1257px;
  height: 733px;
  background-size: 100% 100%;
  background-image: url("img/background.png");
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#timer {
  font-size: 30pt;
  font-family: Verdana;
  position: absolute;
  top: 100px;
  left: 50px;
  color: white;
}

#map > .pipka {
  position: absolute;
  background-size: 100% 100%;
  width: 70px;
  height: 50px;
  background-image: url("img/pipka.png");
  /*background-color: red;*/
}

#map .guy {
  background-size: 100% 100%;
  position: absolute;
  width: 10px;
  height: 10px;
}

#map .guy-green {
  background-image: url("img/ball_green.png");
}

#map .guy-red {
  background-image: url("img/ball_red.png");
}

#map .guy-yellow {
  background-image: url("img/ball_yellow.png");
}

h1 {
  text-align: center;
}